/* styling */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

img {
  width: 100%;
  height: auto;
  margin: 5% 5% 5% 0%;
}

footer {
  text-align: center;
  margin-block: 20px;
  margin-top: 50px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 10px;
}

body {
  background-color: rgb(177, 153, 139);
  color: #ffffff;
  font-family: Roboto;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.content {
  background-image: url(foto/mursten.webp);
  background-size: cover;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(61, 60, 60);
  height: 200px;
  padding: 5%;
}

.forside_grid_1-1 {
  margin: 50px 50px;
}
p {
  margin: 50px 50px;
}

figcaption {
  margin: -15px;
  padding-left: 20px;
  color: #d7d7d7;
  font-size: 14px;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  margin-top: 20px;
}

video {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 20px;
}

#musik {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 10px;
  margin-top: 100px;
  font-style: italic;
}
